.cart__title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

.cart__block-box {
  display: flex;
  align-items: center;
  max-width: 1280px;
  min-height: 152px;
  justify-content: space-between;
  width: 100%;
  box-shadow: 5px 0px 5px 5px #0000001b;
  border-radius: 8px;
  padding: 16px 24px 16px 16px;
  margin-bottom: 16px;
}

.cart__img {
  width: 120px;
  /* width: 100%; */
  height: 120px;
  object-fit: contain;
}

.cart__name {
  margin-left: 16px;
}

.cart__name b {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  max-width: 400px;
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cart-box {
  max-width: 500px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.cart-box img {
  width: 300px;
  object-fit: cover;
}

.card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.flex {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cart__options {
  background: rgba(41, 2, 71, 1);

  min-width: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 0;
}

.cart__options button {
  border: none;
  background: none;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  padding: 0 8px;
}

.cart__options span {
  color: #fff;
  font-size: 18px;
}

.flex b {
  display: block;
  max-width: 272px;
  width: 100%;
  font-size: 20px;
}

.cart__sub {
  margin: 35px 0 25px 0;
  font-size: 25px;
}

.cart__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  justify-content: space-between;
}

.cart__form input {
  padding: 13px 0 13px 16px;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--Line-gray, #adabab);
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  align-items: center;
}

.cart__total h3 {
  font-size: 20px;
  font-weight: 600;
}

.cart__total button {
  max-width: 178px;
  width: 100%;
  background-color: rgba(41, 2, 71, 1);
  color: #fff;
  padding: 13px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.cart__back {
  max-width: 120px;
  display: block;
  text-align: center;
  color: #000;
  width: 100%;
  padding: 13px 0;
  margin-top: 50px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  background: #adabab3f;
}

.cart {
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__title {
  font-size: 22px;
  margin-top: 20px;
}

.cart__txt {
  text-align: center;
  max-width: 300px;
  line-height: 23px;
}

.cart-imgs {
  width: 86px;
  object-fit: cover;
}

.header__save-title {
  color: #000;
}

.section-save h2 {
  margin-bottom: 20px;
}

.about__book {
  max-width: 504px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__book p:nth-of-type(even) {
  text-align: right;
}

.cart__about {
  max-width: 400px;
  width: 100%;
  height: 292px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
}

.flexes {
  display: flex;
  justify-content: space-between;
}

.books-img {
  max-width: 295px;
  width: 100%;
  object-fit: cover;
}

.bookabout {
  max-width: 504px;
  width: 100%;
}

.about__book p {
  padding: 8px 0;
}

.about__book p::after {
  display: block;
  margin-top: 8px;
  content: "";
  background-color: #110c1f;
  width: 100%;
  height: 1px;
}

.about-info {
  max-width: 834px;
  width: 100%;
  color: #110c1f;
  line-height: 28px;
}

.cart__about {
  padding: 32px;
}

.cart__about b {
  font-size: 28px;
  font-weight: 700;
  color: rgba(41, 2, 71, 1);
}
.cart__about span {
  font-size: 12px;
}

.cart__head {
  display: flex;
  align-items: first baseline;
  
  justify-content: space-between;
}

.cart__option button {
  max-width: 276px;
  width: 100%;
  background: rgba(41, 2, 71, 1);
  padding: 12px 0;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}


.cart__option {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 12px;
}

.cart__option img{
  height: 33px;
  cursor: pointer;
  
}


.order1 {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-top: 28px;
}

.order1__txt{
  font-size: 19px;
}

.order1 img {
  width: 35px;
}


.order2{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

.order2 img{
  width: 35px;
}